.depoimentos h2 {
  margin-top: 5.5rem;
}

.depoimentos-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.depoimentos article header {
  background-color: var( --background-color-primary);
  padding: 0;
}

.depoimentos article header p {
  font-size: 1rem;
  line-height: 1.75rem;
}

.depoimentos article footer {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  margin-top: .5rem;
  align-items: center;
}

.depoimentos article footer img{
  width: 5.375rem;
  height: 5.375rem;
}

.depoimentos footer .depoimentos-profile h3 {
  font-size: 1.25rem;
  line-height: 2rem;
  font-weight: var( --weight-titulo);
  margin: 0 0 .5rem;
}

.depoimentos footer .depoimentos-profile .rating .estrela {
  font-size: 2rem;
  color: var(--color-secondary);
  line-height: 2rem;
}

@media  screen and (min-width: 1024px) {
  .depoimentos-container {
    flex-direction: row;
  }
}

@media  screen and (min-width: 1440px) {
  .depoimentos-container {
    flex-direction: row;
  }
}