:root {
  --color-primary: #8f0101;
  --color-secondary: #b81515;

  --background-color-primary: #ffffff;
  --background-color-secondary: #f5f5f5;
  --background-color-tertiary: #000000;

  --text-color-primary: #222222;
  --text-color-secondary: #ffffff;

  --weight-titulo: 700;
  --weight-texto: 400;
  --weight-menu: 500;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color-primary);
}

.section-titulo h2{
  font-size: 28px;
  font-weight: var(--weight-titulo);
  margin: 0px;
  color:var(--text-color-primary);
  text-align: center;
}

.section-titulo hr{
  background-color: var(--color-secondary);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px auto 32px;
}

@media screen and (min-width: 768px) {
  .section-titulo h2{
    font-size: 32px;
  }
}

