header {
    background-color: var(--background-color-tertiary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 37px 48px;
   
}

.logo {
    display: inline-block;
    width: 68px;
    height: 64px;
}

.navegation-menu {  
    height: 16px;
}

nav {
    display: none;
}


