.hero-img {
    background: url('../img/hero-mobile.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

@media screen and (min-width: 768px) {
    .hero-img {
        background: url('../img/hero-tablet.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 620px;
    }
}

@media screen and (min-width: 1024px) {
    .hero-img {
        background: url('../img/hero-desktop.jpg') no-repeat;
        background-size: cover;
        background-position: center;
        height: 620px;
    }
}