.hero-img {
  background: url("../img/hero-mobile.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 400px;
}
.hero h2 {
  padding: 88px 24px;
  margin: 0px;
  font-size: 20px;
  font-weight: var(--weight-texto);
  color: var(--text-color-primary);
  text-align: center;
  line-height: 1.5;
}

@media screen and (min-width: 768px) {
  .hero-img {
    background: url("../img/hero-tablet.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
  }
  .hero h2 {
    padding: 88px 60px;
    font-size: 32px;
  }
}

@media screen and (min-width: 1024px) {
  .hero-img {
    background: url("../img/hero-desktop.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    height: 620px;
  }

  .hero h2 {
    padding: 88px 120px;
  }
}

@media screen and (min-width: 1920px) {
    .hero h2 {
      padding: 88px 160px;
    }
}