.card {
    color: var(--text-color-secondary);
    width: 312px;
    height: 288px;
    box-sizing: border-box;
    border-radius: 16px;
    padding: 24px 16px;
    padding: ;
    background-image: ;
    text-align: center;
}

.card header {
    display: block;
    background-color: transparent;
    position: static;
}

.card header p{
    font-size: 20px;
    font-weight: var(--weight-texto);
}

.card header h3 {
    font-size: 40px;
    font-weight: var(--weight-titulo);
    margin: 8px 0px 0px;
}

.card header span {
    font-size: 32px;
    margin-top: 24px;
    display: inline-block;
}

