.pacotes-pagamentos {
  width: 100%;
}

.pacotes-pagamentos h2 {
  margin-top: 5.5rem;
}

.pacotes-pagamentos .content-title.h3 {
  font-size: 2.5rem;
  font-weight: var(--weight-titulo);
}

.pacotes-pagamentos .content-title.h4 {
  font-size: 1.75rem;
}

.pagamentos-text {
  font-size: 1.25rem;
  margin: 0 24px;
}

.button.pagamentos {
  width: 100%;
  text-align: center;
  margin-top: 1.5rem;
}

.pacotes-pagamentos .pagamentos-img {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  height: 460px;
  margin-top: 24px;
  margin-left: 24px;
  margin-right: 24px;
}

.pacotes-pagamentos .pagamentos-img .img.castelo {
  background: url("../img/travel-packages/gallery1-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.pacotes-pagamentos .pagamentos-img .img.torre {
  background: url("../img/travel-packages/gallery2-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.pacotes-pagamentos .pagamentos-img .img.homem {
  background: url("../img/travel-packages/gallery3-mobile.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.pacotes-pagamentos .pagamentos-img .img.homem.span {
  grid-column: span 2;
}

@media screen and (min-width: 768px) {
  .pacotes-pagamentos .pagamentos-img .img.castelo {
    background: url("../img/travel-packages/gallery1-tablet.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pacotes-pagamentos .pagamentos-img .img.torre {
    background: url("../img/travel-packages/gallery2-tablet.png") no-repeat;
    background-size: cover;
    background-position: center;
  }

  .pacotes-pagamentos .pagamentos-img .img.homem {
    background: url("../img/travel-packages/gallery3-tablet.png") no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media screen and (min-width: 1440px) {
  .pacotes-pagamentos .pagamentos-2 {
    display: flex;
    justify-content: space-between;
    margin-right: 130px;
    margin-left: 130px;
  }

  .pacotes-pagamentos .pagamentos-img {
    width: 790px;
    margin: 0;
  }

  .pacotes-pagamentos .pagamentos-text {
    width: 360px;
    margin: 0;
  }
}
