
.pacotes-viagens.hero {
    margin-bottom: 5.5rem;
}

.pacotes-viagens .top-hero {
  background: url("../img/travel-packages/japan-bg-hero-tablet.png") no-repeat;
  background-size: cover;
  height: 28.75rem;
  background-position: center;
}

.pacotes-viagens .hero-content {
    padding: 4.0625rem 24px;
}

.top-hero h1 {
    color: var(--text-color-secondary);
    font-weight: var(--weight-titulo);
    font-size: 3rem;
}

.top-hero hr{
  background-color: var(--color-secondary);
  width: 180px;
  height: 4px;
  border: none;
  margin: 16px 0 32px;
}

.top-hero p {
    color: var(--text-color-secondary);
    font-weight: var(--weight-texto);
    font-size: 1.25rem;
    line-height: 2rem;
}