@import url(global.css);
@import url(header.css);
@import url(hero.css);
@import url(offers.css);
@import url(categorias.css);
@import url(destinos.css);
@import url(pagamentos.css);
@import url(depoimentos.css);
@import url(footer.css);
@import url(pacotes.css);